* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 3vh;
  text-align: center;
}

/* .body {
  flex: 0 0 95vh;
  display: flex;
  flex-direction: row;
} */

#ShoppingCart-body {

  background-color: #777;
  width: 100%;
  display:block;
} 

.bottom-current-side {
  /* flex: 7 0 0; */
  box-sizing: border-box;
  border: grey 1px solid;
  padding: 4rem;
  background: #f4f4f4;
}

.top-movie-list {
  /* display: flex;
  flex-direction: column;
  flex: 3 0 10rem; */
  width: 100%;
  box-sizing: border-box;
  border: grey 1px solid;
}

.current-genre {
  flex: 0 0 1rem;
  padding: 0.5rem;
}

.pagination {
  flex: 0 0 1rem;
  padding: 0.5rem;
}

.pagination > select {
  padding: 0.3rem 0.5rem; 
  margin-right: 0.5rem;
}

.pagination > button, span {
  padding: 0.3rem 0.5rem; 
}

.pagination > button {
  width: 2rem;
  border-radius: 5px;
  border: 0;
}

ul.card-list {
  display:block;
  overflow-y: scroll;
  height: 520px;
  width: 100%;
  list-style: none;
}

li.card {
  padding: 20px;
  width: 200px;
float:left;
height: 100%;

}


li.card img{
  border-radius: 10px;
  padding-bottom: 10px;
  display: block;
  height: 300px;
}
.empty {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding-top: 1rem;

}

/* 
.card {
  display: flex;
  flex: 0 0 0;
  flex-direction: row;
  justify-content: center;
}

.card > div:nth-child(1) {
  flex: 3 0 0;
}

.card > div:nth-child(1) > img {
  top: 0;
  left: 0;
}

.card > div:nth-child(2) {
  flex: 7 0 0;
  padding: 0.5rem;
}

.card > div:nth-child(2):hover {
  transition: 0.3s;
  background-color: thistle;
} */
.current-movie{
  width: 1000px; margin: 0 auto;
}

.current-movie h1 {
  padding: 1rem;
}

.current-movie p {
  padding: 0.7rem;
}

.current-movie img {
  margin-left: 1rem;
  border-radius: 10px;
  width: 490px;
  display: inline-block;
  /* padding: 1rem; */
}

.current-movie .detail {
  text-align: center;
  width: 400px;
  float: right;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px
    /*  */
}

.current-movie .detail .title {
  font-size: 36px;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;

}

.current-movie .detail .price {
  font-size: 18px;
  color: #ed1c24;
  font-weight: 400;
  
  padding: 1rem;
}


.tag-list {
  margin: 10px 0;
  padding: 5px 0;
}

.tag {
  display: inline-block;
  background-color: bisque;
  margin: 0.3rem 0.5rem;
  padding: 0.2rem;
}

input.quantity{
  display: inline-block;
  width: 2rem;
  margin-bottom: 0.5rem;
}