.myp_title {
  position: absolute;
  left: 27px;
  top: 22px;
  width: 252px;
  height: 32px;
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  text-align: left;
}

.myp {
  position: absolute;
  background: #070e27;
  width: 100vw;
  height: auto;
  padding-bottom: 50px;
}

.myp_input_title {
  width: 360px;
  height: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #d4d4d4;
  text-align: left;
}

.myp_password {
  width: 361px;
  height: auto;
  margin: 34px auto 0;
  text-align: center;
}

.myp_input {
  width: 360px;
  height: 52px;
  margin: 8px auto;
  background: #fff;
  border: 1px solid #dbe2ea;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgb(44 39 56 / 4%);
  border-radius: 6px;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  padding-left: 16px;
}

.myp_warning {
  width: 360px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #ff7171;
}

.myp_save_btn {
  width: 360px;
  height: 56px;
  margin: 41px auto 0;
  background: #0059f7;
  border-radius: 8px;
  border-width: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.myp_wrap {
  width: 361px;
  height: auto;
  margin: 120px auto 50px;
  text-align: center;
}

.myp_del_btn {
  width: 100px;
  height: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #fff;
  cursor: pointer;
  margin: 52px auto 0;
}
